{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% block navbar %}{% include 'navbar.html.twig' %}{% endblock %}
{% block body %}
    <div class="container-fluid page-content col-sm-6">
        <h1>Create new User</h1>
        {{ include('user/_form.html.twig') }}
    </div>
        <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
